@mixin input-field {
    display:block;

    border: 1px solid #a5a5a5;
    border-radius: .25rem;

    margin: 0;
    padding: 1rem 0.5rem;

    font-size: 1.5rem;
    text-align:left;
    color: #333333;

    transition: border-color .2s;

    &:focus {
        outline:0;
        color: #000;
        border-color:$primary-color;
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25)
    }
}

@mixin input-field-invalid {
    border: 1px solid red;

    &:focus {
        border-color: red;
        box-shadow: 0 0 0 0.2rem rgba(204,0,0,.25)
    }
}

@mixin input-checkbox {
    font-size: 1.5rem;
}

/* ===================================================
    media queries breakspoints
================================================== */

$tablet-width: 768px;
$desktop-width: 992px;
$large-width: 1200px;
$extra-width: 1600px;

@mixin tablet {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin large {
    @media (min-width: #{$large-width}) {
        @content;
    }
}

@mixin extralarge {
    @media (min-width: #{$extra-width}) {
        @content;
    }
}

/* ===================================================
    flex properties
================================================== */

//The very basic flex properties everything should have
@mixin basic-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

@mixin articles {
    @include basic-flex;

    //So last line is displayed at the left center
    &:after {
      content: "";
      flex: auto;
    }

    li {
        display:flex;
        flex: 0 0 40%;
        font-size: 2rem;
        text-align: left;
    }
}

@mixin article{
    display:flex;
    flex-direction:column;

    padding:10px;
    background-color: #fff;
    color:$tertiary-color;

    transition: box-shadow 0.3s, transform 0.3s;

    margin-bottom:20px;
}



@mixin icon($color1, $color2) {
    padding:10px;
    font-size:2rem;
    border-radius: 0.5rem;

    background-color: $color1;

    color:$color2;
    border: 1px solid $color2;
}

@mixin red-icon {
    @include icon( #F8D7DA, #ad5a61);

}

@mixin green-icon {
    @include icon( #5edb79, #419253);
}
