$primary-color: #2958bc;
$primary-color-text: #fff;

$secondary-color: #e5e5e5;
$secondary-color-text: #000;

$tertiary-color: #626868;

$main-font: 'Work Sans', sans-serif;
$title-font: 'Denk One', sans-serif;
$gradient: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
